@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html, body {
  width: 100%;
}

h1, h3 {
  font-family: "Open Sans", sans serif;
  font-weight: 700;
  color: #161618;
}

.main_content {
  flex: 1;
  margin-left: 60px;
  padding: 0rem 2rem 2rem;
  background: ghostwhite;
}
.main_content .Grid {
  width: 100%;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(55vh, 400px);
}
.main_content .Grid .blog_post {
  background: white;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}
.main_content .Grid .blog_post figure {
  width: 100%;
  height: 50%;
  margin: 0;
  border-radius: 3px 3px 0px 0px;
}
.main_content .Grid .blog_post figure img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px 3px 0px 0px;
}
.main_content .Grid .blog_post aside {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex: 1;
  padding: 1.3rem;
}
.main_content .Grid .blog_post aside h3 {
  font-size: 16px;
  margin: 0;
}
.main_content .Grid .blog_post aside small {
  padding: 0.2rem 0.3rem;
  background: firebrick;
  color: white;
  font-size: 10px;
  font-weight: bold;
  border-radius: 2px;
  margin-bottom: 7px;
}
.main_content .Grid .blog_post aside p {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}
.main_content .Grid .blog_post aside .read_more {
  width: 30px;
  height: 30px;
  background: #2A2B2E;
  border-radius: 120px;
  text-decoration: none;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
}
.main_content .Grid .blog_post aside .read_more:hover {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}
.main_content .Grid .blog_post aside .read_more i {
  color: white;
  font-size: 11px;
}

@media (min-width: 1440px) {
  .main_content .Grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .main_content .Grid .blog_post aside h3 {
    font-size: 24px;
  }
  .main_content .Grid .blog_post aside p {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .main_content {
    margin-left: 0;
    margin-top: 60px;
  }
}
